postgresql-hostname: localhost
postgresql-port: 5432
postgresql-database: {{getenv "DB_NAME"}}
postgresql-username: {{getenv "DB_USER"}}
postgresql-password: null
postgresql-auto-create-accounts: true
enable-clipboard-integration: true

